<!-- ==========================================
     COMPONENT: Profile Header
     ========================================== -->
<header class="bento-card card-profile">
  <div class="photo-container">
    <img src="assets/avatar-jonathan.png" alt="Jonathan Meixueiro, Graphic Designer & UI/UX">
  </div>
  <h1>JONATHAN<br>MEIXUEIRO</h1>
  <h2 data-i18n="profile.role">Graphic Designer &amp; Motion Grapher</h2>

  <nav class="contact-info" aria-label="Contact Links">
    <a href="tel:6143975165">
      <img src="assets/icons/phone.svg" alt="phone" width="14" height="14">
      (+52) 614 397-51-65
    </a>
    
    <a href="mailto:lav.jonathanom@gmail.com">
      <img src="assets/icons/mail.svg" alt="mail" width="14" height="14">
      lav.jonathanom@gmail.com
    </a>
    
    <a href="https://behance.com/jonathanmx13" target="_blank" rel="noopener noreferrer">
      <img src="assets/icons/behance.svg" alt="behance" width="14" height="14">
      behance.net/jonathanmx13
    </a>

    <a href="https://vimeo.com/1225093887?share=copy&fl=sv&fe=ci" target="_blank" rel="noopener noreferrer">
      <img src="assets/icons/vimeo.svg" alt="github" width="14" height="14">
      vimeo.com/1225093887
    </a>

    <a href="https://jonamx13.github.io/resume-jonathan-meixueiro/" target="_blank" rel="noopener noreferrer">
      <img src="assets/icons/github.svg" alt="github" width="14" height="14">
      github.com/jonamx13
    </a>
  </nav>
</header>